
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
}

h2, h3, body {
    font-family: 'Ubuntu', sans-serif;
}

div.my-header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 80px;
  width: 100%;
  background-color: #336B87;
}

div.my-header img {
  margin-top: 4px;
  margin-right: 10px;
  /*border-color: #00758a;*/
  /*border-width: thin;*/
  /*border-style: solid;*/
}

div.my-footer {
  background-color: #336B87;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 30px;
  width: 100%;
}

div.my-footer span {
  font-size: 13pt;
  color: #ffffff;
  position: absolute;
  left: 15px;
  bottom: 2px;
}

.remark-slide-content {
  background-color: #ffffff;
}

.remark-slide-number {
  color: #ffffff;
  bottom: 3px;
}

.remark-slide-content>h1 {
  position: fixed;
  color: #ffffff;
}

a, a > code {
  color: #EA8620;
  text-decoration: none;
}

.small-p p {
  font-size: small;
}

.title-slide>h1 {
  color: #ffffff;
  background-color: #336B87;
  position: static;
  /*padding-left: 20px;*/
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.title-slide>h2 {
  color: #336B87;
  /*padding-left: 20px;*/
  padding-top: 10px;
}

.title-slide>h3 {
  /*padding-left: 20px;*/
}

hr,.title-slide h2::after,
.mline h1::after {
  background-color: #EA8620;
}

/*COLUMNS*/

.columnwide {
  float: left;
  width: 70%;
}

.columnnarrow {
  float: left;
  width: 30%;
}

.columnnarrow2 {
  float: left;
  width: 25%;
}

/*TEXTBOX*/

.textboxorange {
  padding: 10px;
  border: 2px solid orange;
  margin: 0;
}

